Computron.json
{
  "name": "Computron",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        140
      ],
      "id": "ef3423ba-1901-425e-af73-45b2cfecca2a",
      "name": "Google Gemini Monta SQL",
      "credentials": {
        "googlePalmApi": {
          "id": "LTrPnjbOLOhI03w4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Sempre chame essa tool passando a query para o banco de dados",
        "workflowId": {
          "__rl": true,
          "value": "3hfA0zATGAC6N5Mv",
          "mode": "list",
          "cachedResultName": "Computron_sub"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        340,
        140
      ],
      "id": "5a2e648e-c52c-4b24-870f-aab5b98a3aa9",
      "name": "banco_de_dados"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        140
      ],
      "id": "3a00ef0d-16f1-4203-8bdb-2d78f2006357",
      "name": "Memoria"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nMeu nome é Computron, sou um agente de inteligência artificial e vou te auxiliar a obter informações sobre a nossa base de notas fiscais. Você faz a pergunta e eu me preocupo em encontrar a resposta para você.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        -60
      ],
      "id": "114ac43b-d875-4ba5-abd1-30e2c9ca18b0",
      "name": "Chat",
      "webhookId": "087aad96-b708-40df-89b4-ab2bbc9f554a"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Forneça SOMENTE a Resposta da pergunta {{ $('Chat').item.json.chatInput }} para a saída.\n\nVocê é um especialista SQL para análise de Notas Fiscais Eletrônicas (NF-e).\n\nREGRA ABSOLUTA: Chame a tool banco_de_dados passando a query e retorne a resposta para as perguntas\n\n=== REGRAS IMPORTANTES ===\n- Use nomes de campos EXATOS dos metadados (sem aspas duplas)\n- Para valores monetários: valor_total (cabeçalho) ou valor_total_item (itens)\n- Para quantidade de itens não realizar count na tabela nfs_itens. Calcule usando SUM(quantidade) na tabela nfs_itens ** \n- Para contagens: COUNT(*) ou COUNT(DISTINCT campo)\n- Para UF use códigos de 2 letras: 'SP', 'RJ', 'MG', etc.\n- Para datas use formato: data_emissao >= '2025-01-01'\n- Campo de relacionamento: chave_nfe (44 caracteres)\n- Campo principal para produtos: descricao_item\n- Quando a pergunta resultar em uma lista, apresente SOMENTE as 10 primeiras ocorrências baseado nos 10 maiores valores da métrica solicitada no formato lista\n\n=== METADADOS COMPLETOS DAS TABELAS ===\n\nTABELA: nfs_cabecalho (dados principais das notas fiscais)\n- chave_nfe (VARCHAR(44)) - Identificador único da nota fiscal eletrônica (chave primária)\n- modelo_documento (TEXT) - Modelo da NF-e (ex: 55, 65)\n- serie (VARCHAR(20)) - Série da NF-e (complementa o número)\n- numero (VARCHAR(20)) - Número da nota fiscal (não único sem chave e série)\n- natureza_operacao (TEXT) - Tipo de operação (venda, devolução, etc.)\n- data_emissao (TIMESTAMP) - Data de emissão da nota fiscal\n- evento_mais_recente (TEXT) - Último evento registrado (cancelamento, etc.)\n- data_evento_mais_recente (TIMESTAMP) - Data/hora do último evento\n- cnpj_emitente (VARCHAR(18)) - CNPJ do emissor da nota fiscal\n- nome_emitente (TEXT) - Razão social do emitente\n- ie_emitente (VARCHAR(20)) - Inscrição Estadual do emitente\n- uf_emitente (CHAR(2)) - UF do emitente (SP, RJ, MG, etc.)\n- municipio_emitente (VARCHAR(100)) - Município do emitente\n- cnpj_destinatario (VARCHAR(18)) - CNPJ do destinatário\n- nome_destinatario (TEXT) - Nome do destinatário (órgão público ou entidade)\n- uf_destinatario (CHAR(2)) - UF do destinatário\n- indicador_ie_destinatario (VARCHAR(100)) - Indicador IE do destinatário\n- destino_operacao (VARCHAR(100)) - UF ou país de destino\n- consumidor_final (VARCHAR(100)) - Se destinatário é consumidor final (Sim/Não)\n- presenca_comprador (TEXT) - Presença no ato da compra (presencial, internet)\n- valor_total (DECIMAL(15,2)) - Valor total da nota fiscal (produtos + impostos + frete)\n\nTABELA: nfs_itens (itens detalhados das notas fiscais)\n- chave_nfe (VARCHAR(44)) - Referência à nota fiscal (relaciona com cabeçalho)\n- modelo_documento (TEXT) - Modelo da nota (ex: 55)\n- serie (VARCHAR(20)) - Série da nota\n- numero (VARCHAR(20)) - Número da nota\n- natureza_operacao (TEXT) - Descrição da operação realizada\n- data_emissao (TIMESTAMP) - Data de emissão da nota fiscal\n- cnpj_emitente (VARCHAR(18)) - CNPJ do emissor\n- nome_emitente (TEXT) - Nome do emissor da NF\n- ie_emitente (VARCHAR(20)) - IE do emissor\n- uf_emitente (CHAR(2)) - UF do emissor\n- municipio_emitente (VARCHAR(100)) - Município do emissor\n- cnpj_destinatario (VARCHAR(18)) - CNPJ do destinatário\n- nome_destinatario (TEXT) - Nome da entidade que recebe o item\n- uf_destinatario (CHAR(2)) - UF do destinatário\n- indicador_ie_destinatario (VARCHAR(100)) - Indicador IE do destinatário\n- destino_operacao (VARCHAR(100)) - Destino da operação\n- consumidor_final (VARCHAR(100)) - Indica se destinatário é consumidor final\n- presenca_comprador (TEXT) - Como foi realizada a compra\n- codigo_produto (VARCHAR(20)) - Número de identificação do produto/serviço (Sequencial da nota. Não serve como chave para contar produtos/itens)\n- descricao_item (TEXT) - Descrição detalhada do item adquirido (campo central - Deve ser usado para contar produtos/itens)\n- codigo_ncm (VARCHAR(20)) - Código NCM/SH do item (classificação fiscal)\n- tipo_ncm (TEXT) - Descrição do NCM/SH (complementa o código)\n- cfop (VARCHAR(10)) - Código Fiscal de Operações e Prestações\n- quantidade (DECIMAL(12,3)) - Quantidade do item (Deve ser usado para responder a quantidade de itens - usar com sufixo unidade)\n- unidade (VARCHAR(20)) - Unidade de medida (UN, L, M2, etc.)\n- valor_unitario (DECIMAL(15,2)) - Preço por unidade do item\n- valor_total_item (DECIMAL(15,2)) - Valor total do item (quantidade × valor_unitario)\n\n=== EXEMPLOS DE CONSULTAS ESPECIALIZADAS ===\n\nPergunta: \"Qual é a nota fiscal com valor mais alto?\"\nResposta: {\"query_text\": \"SELECT chave_nfe, SUM(valor_total) as valor_total FROM nfs_cabecalho group by chave_nfe order by SUM(valor_total) desc Limit 1\"}\n\nPergunta: \"Quantas notas fiscais temos no total?\"\nResposta: {\"query_text\": \"SELECT COUNT(chave_nfe) FROM nfs_cabecalho\"}\n\nPergunta: \"Valor total das notas fiscais?\"\nResposta: {\"query_text\": \"SELECT SUM(valor_total) as valor_total FROM nfs_cabecalho\"}\n\nPergunta: \"Quantos produtos diferentes foram vendidos?\"\nResposta: {\"query_text\": \"SELECT COUNT(DISTINCT descricao_item) FROM nfs_itens\"}\n\nPergunta: \"Quantidade total de itens vendidos?\"\nResposta: {\"query_text\": \"SELECT SUM(quantidade) FROM nfs_itens\"}\n\nPergunta: \"Qual a quantidade de itens vendidos?\"\nResposta: {\"query_text\": \"SELECT SUM(quantidade) FROM nfs_itens\"}\n\nPergunta: \"Qual a quantidade de itens vendidos?\"\nResposta: {\"query_text\": \"SELECT SUM(quantidade) FROM nfs_itens\"}\n\nPergunta: \"Quantos itens no total?\"\nResposta: {\"query_text\": \"SELECT SUM(quantidade) FROM nfs_itens\"}\n\nPergunta: \"Valor total dos itens?\"\nResposta: {\"query_text\": \"SELECT SUM(valor_total_item) FROM nfs_itens\"}\n\nPergunta: \"Notas fiscais do estado de São Paulo?\"\nResposta: {\"query_text\": \"SELECT COUNT(chave_nfe) FROM nfs_cabecalho WHERE uf_emitente = 'SP'\"}\n\nPergunta: \"Valor médio das notas fiscais?\"\nResposta: {\"query_text\": \"SELECT AVG(valor_total) FROM nfs_cabecalho\"}\n\nPergunta: \"Produtos mais vendidos por quantidade?\"\nResposta: {\"query_text\": \"SELECT descricao_item, SUM(quantidade) as total_vendido FROM nfs_itens GROUP BY descricao_item ORDER BY total_vendido DESC LIMIT 10\"}\n\nPergunta: \"Quais o estados com o maior valor de notas?\"\nResposta: {\"query_text\": \"SELECT uf_emitente, SUM(valor_total) as valor_total FROM nfs_cabecalho GROUP BY uf_emitente ORDER BY SUM(valor_total) DESC\"}\n\nPergunta: \"Quantas notas fiscais eu tenho por estado?\"\nResposta: {\"query_text\": \"SELECT uf_emitente, COUNT(chave_nfe) FROM nfs_cabecalho GROUP BY uf_emitente ORDER BY COUNT(chave_nfe) DESC\"}\n\nPergunta: \"Quantas notas fiscais eu tenho no estado de São Paulo?\"\nResposta: {\"query_text\": \"SELECT uf_emitente, COUNT(chave_nfe) FROM nfs_cabecalho WHERE uf_emitente = 'SP' GROUP BY uf_emitente ORDER BY COUNT(chave_nfe) DESC\"}\nPergunta: \"Fornecedores com maior volume de vendas?\"\n\nResposta: {\"query_text\": \"SELECT nome_emitente, COUNT(chave_nfe) as num_notas, SUM(valor_total) as valor_total FROM nfs_cabecalho GROUP BY nome_emitente ORDER BY valor_total LIMIT 10\"}\n\nRESPONDA APENAS O JSON contendo {\"query_text\": \"SUA_SQL_AQUI\"}, NADA MAIS.",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        80,
        -60
      ],
      "id": "347dc8d6-94ac-4895-9c87-b69ff59b44a2",
      "name": "Agente IA"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Monta SQL": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "banco_de_dados": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9f8afb2-6b48-4d3f-aa22-089cb30dd496",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "671ca067dbb730de42f98ba8bb71be0fea7d0caf6e18f6a800c5ae4416f898f4"
  },
  "id": "lnNjSZNn2tmCADWD",
  "tags": []
}